body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e6c63b !important;
}
.bg-success {
  background-color: #4479d9 !important;
}
.bg-info {
  background-color: #4479d9 !important;
}
.bg-warning {
  background-color: #4479d9 !important;
}
.bg-danger {
  background-color: #4479d9 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-info,
.btn-info:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e6c63b !important;
}
.text-secondary {
  color: #4479d9 !important;
}
.text-success {
  color: #4479d9 !important;
}
.text-info {
  color: #4479d9 !important;
}
.text-warning {
  color: #4479d9 !important;
}
.text-danger {
  color: #4479d9 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a68b15 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #1f4a98 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1f4a98 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1f4a98 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #1f4a98 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #1f4a98 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e6c63b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #4479d9;
}
.alert-warning {
  background-color: #4479d9;
}
.alert-danger {
  background-color: #4479d9;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e6c63b;
  border-color: #e6c63b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e6c63b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdfbf0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #eef2fb;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e6c63b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #e6c63b;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e6c63b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e6c63b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e6c63b;
  border-bottom-color: #e6c63b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #e6c63b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #4479d9 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e6c63b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tn1UigJrBe .progress-container {
  z-index: 20000;
  position: fixed;
  width: 100%;
  height: 12px;
  background: #55b4d4;
  top: 93px;
}
.cid-tn1UigJrBe .progress-bar {
  height: 12px;
  background: #073b4c;
  width: 0%;
}
.cid-tn1UigJrBe .sticky2 {
  position: fixed;
  top: 74px;
  width: 100%;
}
.cid-tn1UigJrBe .hidden {
  display: none;
}
.cid-tn1UigJrBe H10 {
  color: #767676;
}
.cid-tn1UfJMd5v .icon-bar {
  z-index: 100002;
  left: 0.4%;
  position: fixed;
  top: 50%;
  font-weight: normal;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-tn1UfJMd5v .icon-bar a:hover {
  background-color: #ff0040;
  width: 100px;
}
.cid-tn1UfJMd5v .icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  font-weight: normal;
  margin: 2px;
  border-radius: 14px;
}
.cid-tn1UfJMd5v .facebook {
  background: #3B5998;
  color: white;
  width: 50px;
}
.cid-tn1UfJMd5v .twitter {
  background: #55ACEE;
  color: white;
  width: 50px;
}
.cid-tn1UfJMd5v .google {
  background: #dd4b39;
  color: white;
  width: 50px;
}
.cid-tn1UfJMd5v .linkedin {
  background: #007bb5;
  color: white;
  width: 50px;
}
.cid-tn1UfJMd5v .youtube {
  background: #bb0000;
  color: white;
  width: 50px;
}
.cid-tn1UfJMd5v .instagram {
  background: #6F3AA7;
  color: white;
  width: 50px;
}
.cid-tn1UfJMd5v .custom1 {
  background: #ff7300;
  color: white;
  width: 50px;
}
.cid-tn1UfJMd5v .custom2 {
  background: #01bf46;
  color: white;
  width: 50px;
}
.cid-tn1UfJMd5v .content {
  margin-left: 75px;
  font-size: 30px;
}
.cid-tn1UfJMd5v .corner-ribbon {
  z-index: 20001;
  width: 200px;
  background-image: linear-gradient(#55b4d4, #000000);
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.cid-tn1UfJMd5v .corner-ribbon ov:hover .effetover {
  background-image: linear-gradient(#000000, #55b4d4);
}
.cid-tn1UfJMd5v .corner-ribbon.top-zen {
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: fixed;
}
.cid-tn1UfJMd5v P {
  color: #232323;
}
.cid-tn1UfJMd5v DIV {
  color: #ffffff;
}
.cid-tn1UfJMd5v H10 {
  color: #767676;
}
.cid-tn1UfJMd5v .hidden {
  display: none;
}
.cid-tn1UfJMd5v div.imgtest {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  content: url(https://www.unsitepourtous.be/logoscript/logo-zen.png);
}
.cid-s48MCQYojq .mbr-section-title {
  text-align: center;
}
.cid-s48MCQYojq .mbr-text,
.cid-s48MCQYojq .mbr-section-btn {
  color: #232323;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s48MCQYojq .mbr-section-title,
  .cid-s48MCQYojq .mbr-section-btn,
  .cid-s48MCQYojq .mbr-text {
    text-align: center;
  }
}
.cid-tmYkOX4J2Y {
  background-image: url("../../../assets/images/background8.jpg");
}
.cid-tmYkOX4J2Y .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYkOX4J2Y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYkOX4J2Y .icons-media-container {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
}
.cid-tmYkOX4J2Y .icons-media-container .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-tmYkOX4J2Y .icons-media-container .icon-block {
  padding-bottom: 1rem;
}
.cid-tmYkOX4J2Y .mbr-text {
  color: #ffffff;
}
.cid-tmYkOX4J2Y .card {
  padding-bottom: 1.5rem;
}
.cid-tmYkOX4J2Y .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tmYkOX4J2Y .card-wrapper .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-tmYkOX4J2Y .card-wrapper .card-title {
  color: #ffffff;
}
.cid-tmYkOX4J2Y H1 {
  color: #000000;
}
.cid-tmYkOX4J2Y .mbr-text,
.cid-tmYkOX4J2Y .mbr-section-btn {
  color: #000000;
}
.cid-tmYkOX4J2Y .card-wrapper .card-title,
.cid-tmYkOX4J2Y .card-box {
  color: #000000;
}
.cid-tn9sjL0LiO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tn9sjL0LiO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tn9sjL0LiO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tn9sjL0LiO .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tn9sjL0LiO .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tn9sjL0LiO .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tn9sjL0LiO .card {
    margin-bottom: 2rem;
  }
  .cid-tn9sjL0LiO .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tn9sjL0LiO .icon-title {
  color: #e6c63b;
}
.cid-tn9sjL0LiO .card-title,
.cid-tn9sjL0LiO .card-box {
  color: #e6c63b;
}
.cid-tn9sjL0LiO .mbr-text,
.cid-tn9sjL0LiO .mbr-section-btn {
  color: #ffffff;
}
.cid-tn9sjL0LiO .icon-text {
  color: #ffffff;
}
.cid-tmYkYmzVWB {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-tmYkYmzVWB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYkYmzVWB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYkYmzVWB .card-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (min-width: 992px) {
  .cid-tmYkYmzVWB .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tmYkYmzVWB .card-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-tmYkYmzVWB .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-tmYkYmzVWB .row .row {
    flex-direction: column-reverse;
  }
  .cid-tmYkYmzVWB .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tmYkYmzVWB .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tmYkYmzVWB .card-subtitle {
  color: #4479d9;
}
.cid-tmYkYmzVWB .mbr-text {
  color: #555555;
}
.cid-tmYkYmzVWB .card-title {
  color: #e6c63b;
}
.cid-tmYkYmzVWB .mbr-text,
.cid-tmYkYmzVWB .mbr-section-btn {
  color: #000000;
}
.cid-tn9yQ5rvBm {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tn9yQ5rvBm .mbr-overlay {
  background: #fafafa;
  opacity: 0.6;
}
.cid-tn9yQ5rvBm img,
.cid-tn9yQ5rvBm .item-img {
  width: 100%;
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-tn9yQ5rvBm .item:focus,
.cid-tn9yQ5rvBm span:focus {
  outline: none;
}
.cid-tn9yQ5rvBm .item-wrapper {
  position: relative;
}
.cid-tn9yQ5rvBm .slide-content {
  position: relative;
  border-radius: 4px;
  background: #000000;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tn9yQ5rvBm .slide-content .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tn9yQ5rvBm .slide-content .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tn9yQ5rvBm .slide-content .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tn9yQ5rvBm .slide-content .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tn9yQ5rvBm .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tn9yQ5rvBm .mbr-section-title {
  color: #232323;
}
.cid-tn9yQ5rvBm .mbr-text,
.cid-tn9yQ5rvBm .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tn9yQ5rvBm .item-title {
  text-align: left;
  color: #e6c63b;
}
.cid-tn9yQ5rvBm .item-subtitle {
  text-align: left;
  color: #4479d9;
}
.cid-tn9yQ5rvBm .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-tn9yQ5rvBm .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tn9yQ5rvBm .embla__button--next,
.cid-tn9yQ5rvBm .embla__button--prev {
  display: flex;
}
.cid-tn9yQ5rvBm .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tn9yQ5rvBm .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tn9yQ5rvBm .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tn9yQ5rvBm .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tn9yQ5rvBm .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tn9yQ5rvBm .embla__button {
    top: auto;
  }
}
.cid-tn9yQ5rvBm .embla {
  position: relative;
  width: 100%;
}
.cid-tn9yQ5rvBm .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tn9yQ5rvBm .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tn9yQ5rvBm .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tn9yQ5rvBm .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-tn9yQ5rvBm .embla__container {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }
  .cid-tn9yQ5rvBm .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-tn9yQ5rvBm .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-tmYlgRQ9EI {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tmYlgRQ9EI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYlgRQ9EI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYlgRQ9EI .row {
  flex-direction: row-reverse;
}
.cid-tmYlgRQ9EI .video-wrapper iframe {
  width: 100%;
}
.cid-tmYlgRQ9EI .mbr-section-title,
.cid-tmYlgRQ9EI .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tmYlgRQ9EI .text-wrapper {
    padding: 2rem;
  }
}
.cid-tmYlgRQ9EI .mbr-description {
  color: #4479d9;
}
.cid-tmYlgRQ9EI .mbr-section-subtitle {
  color: #4479d9;
}
.cid-tmYlgRQ9EI .mbr-text {
  color: #000000;
}
.cid-tmYlgRQ9EI .mbr-section-title {
  color: #e6c63b;
}
.cid-tmYm2EqtYz {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-tmYm2EqtYz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYm2EqtYz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYm2EqtYz .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-facebook:hover {
  background: #0b60cb;
}
.cid-tmYm2EqtYz .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-twitter:hover {
  background: #0c85d0;
}
.cid-tmYm2EqtYz .bg-pinterest {
  background: #e60023;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-pinterest:hover {
  background: #b3001b;
}
.cid-tmYm2EqtYz .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-instagram:hover {
  background: #bd005c;
}
.cid-tmYm2EqtYz .bg-slack {
  background: #4a154b;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-slack:hover {
  background: #230a23;
}
.cid-tmYm2EqtYz .bg-linkedin {
  background: #0077b5;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-linkedin:hover {
  background: #005582;
}
.cid-tmYm2EqtYz .bg-behance {
  background: #0056ff;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-behance:hover {
  background: #0045cc;
}
.cid-tmYm2EqtYz .bg-dribbble {
  background: #ea4c89;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-dribbble:hover {
  background: #e51e6b;
}
.cid-tmYm2EqtYz .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-tiktok:hover {
  background: #000000;
}
.cid-tmYm2EqtYz .bg-youtube {
  background: #ff0000;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-youtube:hover {
  background: #cc0000;
}
.cid-tmYm2EqtYz .bg-twitch {
  background: #9146ff;
  color: #ffffff;
}
.cid-tmYm2EqtYz .bg-twitch:hover {
  background: #7313ff;
}
.cid-tmYm2EqtYz .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-tmYm2EqtYz .iconfont-wrapper {
  border-radius: 0 !important;
}
.cid-tmYm2EqtYz [class^="socicon-"]:before,
.cid-tmYm2EqtYz [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-tmYm2EqtYz .mbr-section-title,
.cid-tmYm2EqtYz .social-list {
  color: #e6c63b;
}
.cid-tmYmfpmJHf {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tmYmfpmJHf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmfpmJHf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmfpmJHf .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-tmYmfpmJHf .timeline-element {
  position: relative;
}
.cid-tmYmfpmJHf .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tmYmfpmJHf .iconBackground {
  position: absolute;
  left: 33.33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #4479d9;
  top: 30px;
  margin-left: -9px;
  padding: 0;
}
.cid-tmYmfpmJHf .separline:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #4479d9;
  left: 33.33%;
  height: calc(100% + 30px);
}
@media (max-width: 767px) {
  .cid-tmYmfpmJHf .iconBackground {
    left: 15px !important;
  }
  .cid-tmYmfpmJHf .separline:before {
    left: 15px !important;
  }
}
.cid-tmYmfpmJHf .mbr-section-title,
.cid-tmYmfpmJHf .mbr-section-subtitle {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tmYmfpmJHf .time-line-date-content {
    margin-left: 1rem;
  }
  .cid-tmYmfpmJHf .time-line-date-content .mbr-timeline-date {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-tmYmfpmJHf .time-line-date-content {
    margin-right: 1rem;
  }
  .cid-tmYmfpmJHf .time-line-date-content .mbr-timeline-date {
    text-align: right;
  }
}
.cid-tmYmfpmJHf .timeline-text-content {
  margin-left: 2rem;
}
.cid-tmYmfpmJHf .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-tmYmfpmJHf .mbr-timeline-date {
  text-align: right;
  color: #4479d9;
}
.cid-tmYmfpmJHf .mbr-section-title {
  color: #e6c63b;
}
.cid-tmYmfpmJHf .mbr-timeline-title {
  color: #4479d9;
}
.cid-tmYmfpmJHf .mbr-timeline-text {
  color: #e6c63b;
}
.cid-lbtA8j41g7 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4479d9;
}
.cid-lbtA8j41g7 *,
.cid-lbtA8j41g7 :after,
.cid-lbtA8j41g7 :before {
  box-sizing: border-box;
  margin: 0;
}
.cid-lbtA8j41g7 .bg-transparent {
  background: transparent;
}
.cid-lbtA8j41g7 .container {
  background: #111111;
  font-family: Bitter;
  padding: 110px 0;
  max-width: 100%;
  min-width: 100%;
}
.cid-lbtA8j41g7 .articles {
  margin: 22px auto 55px;
  display: grid;
  grid-row-gap: 88px;
  grid-column-gap: 66px;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  justify-items: center;
}
.cid-lbtA8j41g7 .articles__article {
  cursor: pointer;
  display: block;
  position: relative;
  perspective: 1000px;
  animation-name: animateIn;
  animation-duration: 0.35s;
  animation-delay: 100ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.cid-lbtA8j41g7 .articles__article:before {
  content: "";
  position: absolute;
  top: -22px;
  left: -22px;
  border: 2px dashed #e6c63b;
  background-image: repeating-linear-gradient(-24deg, transparent, transparent 4px, #111111 0, #111111 5px);
  z-index: -1;
}
.cid-lbtA8j41g7 .articles__article,
.cid-lbtA8j41g7 .articles__article:before {
  width: 385px;
  height: 385px;
}
.cid-lbtA8j41g7 .articles__link {
  background-color: #111111;
  border: 2px solid #e6c63b;
  display: block;
  width: 100%;
  height: 100%;
}
.cid-lbtA8j41g7 .articles__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 33px;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  background-color: #e6c63b;
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0ms;
}
.cid-lbtA8j41g7 .articles__content {
  background-color: #e6c63b;
  color: #111111;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 22px;
  display: flex;
  flex-direction: column;
  border: 2px solid #e6c63b;
}
.cid-lbtA8j41g7 .articles__content--lhs {
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
}
.cid-lbtA8j41g7 .articles__content--rhs {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
}
.cid-lbtA8j41g7 .articles__title {
  font-size: 44px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.cid-lbtA8j41g7 .articles__footer {
  margin-top: auto;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
}
.cid-lbtA8j41g7 .articles__link:hover .articles__content--rhs {
  background-color: #e6c63b;
  transform: rotateY(-50deg);
}
.cid-lbtA8j41g7 .articles__link:hover:after {
  opacity: 1;
  transform: translateX(16.5px);
  transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0.25s;
}
.cid-lbtA8j41g7 P {
  text-align: center;
  color: #000000;
}
.cid-tn9yYuZOkv {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tn9yYuZOkv img {
  width: 120px;
  margin: auto;
}
.cid-tn9yYuZOkv .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tn9yYuZOkv .card {
    max-width: 12.5%;
  }
}
.cid-tn9yYuZOkv .mbr-section-title {
  color: #e6c63b;
}
.cid-tn9yYuZOkv .mbr-section-subtitle {
  color: #4479d9;
}
.cid-tmYlFT1bUq {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tmYlFT1bUq .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYlFT1bUq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYlFT1bUq .img-wrapper {
  text-align: center;
}
.cid-tmYlFT1bUq img {
  margin: auto;
  width: 140px;
  padding-bottom: 2rem;
}
.cid-tmYlFT1bUq .row {
  align-items: flex-start;
}
.cid-tmYlFT1bUq .card-wrapper {
  border-radius: 4px;
  background: #4479d9;
}
@media (max-width: 992px) {
  .cid-tmYlFT1bUq .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-tmYlFT1bUq .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tmYlFT1bUq .card-wrapper {
    padding: 1rem;
  }
}
.cid-tmYlFT1bUq .card-title {
  color: #e6c63b;
}
.cid-tmYlnEYrSY {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #fafafa;
}
.cid-tmYlnEYrSY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYlnEYrSY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYlnEYrSY .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tmYlnEYrSY .team-card:hover {
  transform: translateY(-10px);
}
.cid-tmYlnEYrSY .card-wrap {
  background: #000000;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tmYlnEYrSY .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tmYlnEYrSY .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tmYlnEYrSY .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tmYlnEYrSY .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tmYlnEYrSY .social-row {
  text-align: center;
}
.cid-tmYlnEYrSY .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tmYlnEYrSY .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-tmYlnEYrSY .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tmYlnEYrSY .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tmYlnEYrSY .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tmYlnEYrSY .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tmYlnEYrSY .embla__button--next,
.cid-tmYlnEYrSY .embla__button--prev {
  display: flex;
}
.cid-tmYlnEYrSY .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tmYlnEYrSY .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tmYlnEYrSY .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tmYlnEYrSY .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tmYlnEYrSY .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tmYlnEYrSY .embla__button {
    top: auto;
  }
}
.cid-tmYlnEYrSY .embla {
  position: relative;
  width: 100%;
}
.cid-tmYlnEYrSY .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tmYlnEYrSY .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tmYlnEYrSY .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tmYlnEYrSY .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tmYlnEYrSY .mbr-section-title {
  color: #e6c63b;
}
.cid-tmYlnEYrSY .mbr-role,
.cid-tmYlnEYrSY .social-row {
  color: #4479d9;
}
.cid-tmYlnEYrSY .card-text,
.cid-tmYlnEYrSY .mbr-section-btn,
.cid-tmYlnEYrSY .social-row {
  color: #ffffff;
}
.cid-tmYmlHiZ66 {
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tmYmlHiZ66 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmlHiZ66 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmlHiZ66 .number-wrap {
  color: #ffffff;
  text-align: center;
}
.cid-tmYmlHiZ66 .number {
  color: #e6c63b;
}
.cid-tmYmlHiZ66 .period {
  display: block;
}
.cid-tmYmlHiZ66 .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-tmYmlHiZ66 .period {
    font-size: 0.8rem;
  }
}
.cid-tmYmlHiZ66 .btn {
  height: 100%;
  margin: 0;
}
.cid-tmYmlHiZ66 .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tmYmlHiZ66 .mbr-section-title {
  color: #ffffff;
}
.cid-tmYmlHiZ66 .mbr-text {
  color: #ffffff;
}
.cid-tmYmlHiZ66 .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-tmYmlHiZ66 .icons-menu .soc-item .mbr-iconfont {
  font-size: 2rem;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #e6c63b;
  border: 2px solid #e6c63b;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-tmYmlHiZ66 .icons-menu .soc-item .mbr-iconfont:before {
  padding: 0.6rem;
}
.cid-tmYmlHiZ66 .icons-menu .soc-item .mbr-iconfont:hover {
  background-color: #e6c63b;
  color: #000000;
}
.cid-tmYmlHiZ66 H3 {
  color: #e6c63b;
}
.cid-tmYmlHiZ66 .mbr-text,
.cid-tmYmlHiZ66 .mbr-section-btn {
  color: #e6c63b;
}
.cid-tmYmjvEXT1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tmYmjvEXT1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmjvEXT1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmjvEXT1 .nav-tabs .nav-item.open .nav-link:focus,
.cid-tmYmjvEXT1 .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-tmYmjvEXT1 .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #e6c63b;
}
@media (max-width: 767px) {
  .cid-tmYmjvEXT1 .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-tmYmjvEXT1 .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-tmYmjvEXT1 .nav-tabs .nav-link:not(.active) {
  color: #4479d9;
}
.cid-tmYmjvEXT1 .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-tmYmjvEXT1 .nav-link,
.cid-tmYmjvEXT1 .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-tmYmjvEXT1 .nav-tabs .nav-link.active {
  color: #e6c63b;
  border-bottom: 3px solid #e6c63b;
}
.cid-tmYmjvEXT1 H4 {
  text-align: center;
  color: #000000;
}
.cid-tmYmjvEXT1 H3 {
  text-align: center;
  color: #e6c63b;
}
.cid-tmYmijgTqp {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #4479d9;
}
.cid-tmYmijgTqp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmijgTqp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmijgTqp .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #e6c63b;
  margin-left: 1rem;
}
.cid-tmYmijgTqp .panel-group {
  border: none;
}
.cid-tmYmijgTqp .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tmYmijgTqp .panel-body,
.cid-tmYmijgTqp .card-header {
  padding: 1rem 0;
}
.cid-tmYmijgTqp .panel-title-edit {
  color: #e6c63b;
}
.cid-tmYmijgTqp .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tmYmijgTqp .panel-text {
  color: #000000;
}
.cid-tmYmijgTqp H3 {
  color: #e6c63b;
}
.cid-tmYmijgTqp H4 {
  color: #000000;
}
.cid-tmYlIPewV1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tmYlIPewV1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYlIPewV1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYlIPewV1 .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tmYlIPewV1 .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #353535;
}
@media (max-width: 991px) {
  .cid-tmYlIPewV1 .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tmYlIPewV1 .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tmYlIPewV1 .mbr-iconfont {
  font-size: 3rem;
  padding-right: 1.5rem;
  color: #e6c63b;
}
.cid-tmYlIPewV1 .card-title {
  color: #e6c63b;
}
.cid-tmYlIPewV1 P {
  color: #4479d9;
}
.cid-tmYlIPewV1 .mbr-section-title {
  color: #e6c63b;
}
.cid-tmYlQPwvcA {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tmYlQPwvcA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYlQPwvcA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYlQPwvcA .google-map {
  height: 30rem;
  position: relative;
}
.cid-tmYlQPwvcA .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tmYlQPwvcA .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tmYlQPwvcA .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tmYlQPwvcA .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tn9zjxzMKm {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e6c63b;
}
.cid-tn9zjxzMKm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tn9zjxzMKm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tn9zjxzMKm .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-facebook:hover {
  background: #0b60cb;
}
.cid-tn9zjxzMKm .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-twitter:hover {
  background: #0c85d0;
}
.cid-tn9zjxzMKm .bg-pinterest {
  background: #e60023;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-pinterest:hover {
  background: #b3001b;
}
.cid-tn9zjxzMKm .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-instagram:hover {
  background: #bd005c;
}
.cid-tn9zjxzMKm .bg-slack {
  background: #4a154b;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-slack:hover {
  background: #230a23;
}
.cid-tn9zjxzMKm .bg-linkedin {
  background: #0077b5;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-linkedin:hover {
  background: #005582;
}
.cid-tn9zjxzMKm .bg-behance {
  background: #0056ff;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-behance:hover {
  background: #0045cc;
}
.cid-tn9zjxzMKm .bg-dribbble {
  background: #ea4c89;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-dribbble:hover {
  background: #e51e6b;
}
.cid-tn9zjxzMKm .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-tiktok:hover {
  background: #000000;
}
.cid-tn9zjxzMKm .bg-youtube {
  background: #ff0000;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-youtube:hover {
  background: #cc0000;
}
.cid-tn9zjxzMKm .bg-twitch {
  background: #9146ff;
  color: #ffffff;
}
.cid-tn9zjxzMKm .bg-twitch:hover {
  background: #7313ff;
}
.cid-tn9zjxzMKm .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-tn9zjxzMKm [class^="socicon-"]:before,
.cid-tn9zjxzMKm [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-tn9zjxzMKm .mbr-section-title,
.cid-tn9zjxzMKm .social-list {
  color: #4479d9;
}
.cid-s48OLK6784 {
  z-index: 1000;
  width: 100%;
}
.cid-s48OLK6784 nav.navbar {
  position: fixed;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #e6c63b !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #4479d9 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #ffffff !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.7);
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s48OLK6784 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.9rem);
  }
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tmYyygzGcS {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(0deg, #000000, #e6c63b);
}
.cid-tmYyygzGcS .news {
  width: 250px;
  background-color: #4479d9;
  height: 31px;
}
.cid-tmYyygzGcS .news-scroll a {
  text-decoration: none;
}
.cid-tmYyygzGcS .dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: #e6c63b;
  border-radius: 50%;
  display: inline-block;
}
.cid-tmYyygzGcS DIV {
  color: #ffffff;
}
.cid-tmYyygzGcS .mbr-text {
  color: #ffffff;
}
.cid-tmYyygzGcS .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tmYyn13PMJ {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-tmYyn13PMJ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tmYyn13PMJ .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tmYyn13PMJ .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tmYyn13PMJ .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tmYyn13PMJ .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tmYyn13PMJ .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tmYyn13PMJ .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tmYyn13PMJ .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tmYyn13PMJ .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tmYyn13PMJ .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tmYyn13PMJ .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tmYyn13PMJ .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tmYyn13PMJ .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tmYyn13PMJ .media-container-row .row-copirayt p {
  width: 100%;
}
