.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e6c63b !important;
}
.bg-success {
  background-color: #4479d9 !important;
}
.bg-info {
  background-color: #4479d9 !important;
}
.bg-warning {
  background-color: #4479d9 !important;
}
.bg-danger {
  background-color: #4479d9 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-info,
.btn-info:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #e6c63b;
  color: #e6c63b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: #b39617 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #4479d9;
  color: #4479d9;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: #2150a5 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #4479d9;
  color: #4479d9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: #2150a5 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #4479d9;
  color: #4479d9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: #2150a5 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #4479d9;
  color: #4479d9;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: #2150a5 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #4479d9;
  color: #4479d9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: #2150a5 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e6c63b !important;
}
.text-secondary {
  color: #4479d9 !important;
}
.text-success {
  color: #4479d9 !important;
}
.text-info {
  color: #4479d9 !important;
}
.text-warning {
  color: #4479d9 !important;
}
.text-danger {
  color: #4479d9 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a68b15 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #1f4a98 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1f4a98 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1f4a98 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #1f4a98 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #1f4a98 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e6c63b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #4479d9;
}
.alert-warning {
  background-color: #4479d9;
}
.alert-danger {
  background-color: #4479d9;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e6c63b;
  border-color: #e6c63b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e6c63b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdfbf0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #eef2fb;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e6c63b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #e6c63b;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e6c63b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e6c63b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e6c63b;
  border-bottom-color: #e6c63b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #e6c63b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #4479d9 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e6c63b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-WqB8G0ILN7 .progress-container {
  z-index: 20000;
  position: fixed;
  width: 100%;
  height: 9px;
  background: #4479d9;
  top: 0px;
}
.cid-WqB8G0ILN7 .progress-bar {
  height: 9px;
  background: #e6c63b;
  width: 0%;
}
.cid-WqB8G0ILN7 .sticky2 {
  position: fixed;
  top: 0px;
  width: 100%;
}
.cid-WqB8G0ILN7 .hidden {
  display: none;
}
.cid-WqB8G0ILN7 H10 {
  color: #767676;
}
.cid-tuOj5O5r8e {
  padding-top: 7rem;
  padding-bottom: 0rem;
  background-color: #4479d9;
}
.cid-tuOj5O5r8e .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuOj5O5r8e .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuOj5O5r8e .mbr-section-title,
.cid-tuOj5O5r8e .mbr-text,
.cid-tuOj5O5r8e .mbr-section-btn {
  text-align: center;
}
.cid-tuOj5O5r8e .video-wrapper {
  margin: auto;
}
.cid-tuOj5O5r8e .video-wrapper iframe {
  width: 100%;
}
.cid-tuOj5O5r8e .mbr-section-title {
  color: #e6c63b;
}
.cid-tuOjeJTI9W {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-tuOjeJTI9W .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuOjeJTI9W .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuOjeJTI9W .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tuOjeJTI9W .icon-box {
  background: #000000;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tuOjeJTI9W .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tuOjeJTI9W .card {
    margin-bottom: 2rem;
  }
  .cid-tuOjeJTI9W .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tuOjeJTI9W .icon-title {
  color: #4479d9;
}
.cid-tuOjeJTI9W .card-title,
.cid-tuOjeJTI9W .card-box {
  color: #4479d9;
}
.cid-tuOjeJTI9W .icon-text {
  color: #ffffff;
}
.cid-tmYmjvEXT1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tmYmjvEXT1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmjvEXT1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmjvEXT1 .nav-tabs .nav-item.open .nav-link:focus,
.cid-tmYmjvEXT1 .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-tmYmjvEXT1 .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #4479d9;
}
@media (max-width: 767px) {
  .cid-tmYmjvEXT1 .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-tmYmjvEXT1 .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-tmYmjvEXT1 .nav-tabs .nav-link:not(.active) {
  color: #e6c63b;
}
.cid-tmYmjvEXT1 .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-tmYmjvEXT1 .nav-link,
.cid-tmYmjvEXT1 .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-tmYmjvEXT1 .nav-tabs .nav-link.active {
  color: #4479d9;
  border-bottom: 3px solid #4479d9;
}
.cid-tmYmjvEXT1 H4 {
  text-align: center;
}
.cid-tmYmjvEXT1 H3 {
  text-align: center;
  color: #4479d9;
}
.cid-tuOjiRTUiA {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tuOjiRTUiA img,
.cid-tuOjiRTUiA .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tuOjiRTUiA .item:focus,
.cid-tuOjiRTUiA span:focus {
  outline: none;
}
.cid-tuOjiRTUiA .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tuOjiRTUiA .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #000000;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tuOjiRTUiA .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tuOjiRTUiA .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tuOjiRTUiA .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tuOjiRTUiA .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tuOjiRTUiA .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tuOjiRTUiA .mbr-section-title {
  color: #4479d9;
}
.cid-tuOjiRTUiA .mbr-text,
.cid-tuOjiRTUiA .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tuOjiRTUiA .item-title {
  text-align: left;
  color: #4479d9;
}
.cid-tuOjiRTUiA .item-subtitle {
  text-align: left;
  color: #e6c63b;
}
.cid-tuOjiRTUiA .mbr-section-subtitle {
  color: #e6c63b;
}
.cid-tmYlgRQ9EI {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-tmYlgRQ9EI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYlgRQ9EI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYlgRQ9EI .row {
  flex-direction: row-reverse;
}
.cid-tmYlgRQ9EI .video-wrapper iframe {
  width: 100%;
}
.cid-tmYlgRQ9EI .mbr-section-title,
.cid-tmYlgRQ9EI .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tmYlgRQ9EI .text-wrapper {
    padding: 2rem;
  }
}
.cid-tmYlgRQ9EI .mbr-section-title {
  color: #4479d9;
}
.cid-tmYlgRQ9EI .mbr-section-subtitle {
  color: #e6c63b;
  text-align: center;
}
.cid-tmYlgRQ9EI .mbr-text {
  color: #ffffff;
}
.cid-tmYlgRQ9EI .mbr-description {
  color: #e6c63b;
}
.cid-tmYmfpmJHf {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tmYmfpmJHf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmfpmJHf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmfpmJHf .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-tmYmfpmJHf .timeline-element {
  position: relative;
}
.cid-tmYmfpmJHf .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tmYmfpmJHf .iconBackground {
  position: absolute;
  left: 33.33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #4479d9;
  top: 30px;
  margin-left: -9px;
  padding: 0;
}
.cid-tmYmfpmJHf .separline:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #4479d9;
  left: 33.33%;
  height: calc(100% + 30px);
}
@media (max-width: 767px) {
  .cid-tmYmfpmJHf .iconBackground {
    left: 15px !important;
  }
  .cid-tmYmfpmJHf .separline:before {
    left: 15px !important;
  }
}
.cid-tmYmfpmJHf .mbr-section-title,
.cid-tmYmfpmJHf .mbr-section-subtitle {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tmYmfpmJHf .time-line-date-content {
    margin-left: 1rem;
  }
  .cid-tmYmfpmJHf .time-line-date-content .mbr-timeline-date {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-tmYmfpmJHf .time-line-date-content {
    margin-right: 1rem;
  }
  .cid-tmYmfpmJHf .time-line-date-content .mbr-timeline-date {
    text-align: right;
  }
}
.cid-tmYmfpmJHf .timeline-text-content {
  margin-left: 2rem;
}
.cid-tmYmfpmJHf .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-tmYmfpmJHf .mbr-timeline-date {
  text-align: right;
  color: #4479d9;
}
.cid-tmYmfpmJHf .mbr-section-title {
  color: #4479d9;
}
.cid-tmYmfpmJHf .mbr-timeline-title {
  color: #e6c63b;
}
.cid-tmYmfpmJHf .mbr-section-subtitle {
  color: #e6c63b;
}
.cid-tuOxIPO7qd {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #4479d9;
}
.cid-tuOxIPO7qd img {
  width: 120px;
  margin: auto;
}
.cid-tuOxIPO7qd .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tuOxIPO7qd .card {
    max-width: 12.5%;
  }
}
.cid-tuOxIPO7qd .mbr-section-title {
  color: #e6c63b;
}
.cid-tuOxIPO7qd .mbr-section-subtitle {
  color: #000000;
}
.cid-tuPaK1POnc {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #000000;
}
.cid-tuPaK1POnc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tuPaK1POnc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tuPaK1POnc .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tuPaK1POnc .team-card:hover {
  transform: translateY(-10px);
}
.cid-tuPaK1POnc .card-wrap {
  background: #4479d9;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tuPaK1POnc .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tuPaK1POnc .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tuPaK1POnc .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tuPaK1POnc .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tuPaK1POnc .social-row {
  text-align: center;
}
.cid-tuPaK1POnc .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #e6c63b;
  transition: all 0.3s;
}
.cid-tuPaK1POnc .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #e6c63b;
  font-size: 1.5rem;
}
.cid-tuPaK1POnc .social-row .soc-item:hover {
  background-color: #e6c63b;
}
.cid-tuPaK1POnc .social-row .soc-item:hover .mbr-iconfont {
  color: #000000;
}
.cid-tuPaK1POnc .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tuPaK1POnc .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tuPaK1POnc .embla__button--next,
.cid-tuPaK1POnc .embla__button--prev {
  display: flex;
}
.cid-tuPaK1POnc .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tuPaK1POnc .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tuPaK1POnc .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tuPaK1POnc .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tuPaK1POnc .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tuPaK1POnc .embla__button {
    top: auto;
  }
}
.cid-tuPaK1POnc .embla {
  position: relative;
  width: 100%;
}
.cid-tuPaK1POnc .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tuPaK1POnc .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tuPaK1POnc .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tuPaK1POnc .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tuPaK1POnc .mbr-section-title {
  color: #4479d9;
}
.cid-tuPaK1POnc .card-text,
.cid-tuPaK1POnc .mbr-section-btn,
.cid-tuPaK1POnc .social-row {
  color: #ffffff;
}
.cid-tuPaK1POnc .card-title,
.cid-tuPaK1POnc .social-row {
  color: #e6c63b;
}
.cid-tmYmlHiZ66 {
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tmYmlHiZ66 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmlHiZ66 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmlHiZ66 .number-wrap {
  color: #000000;
  text-align: center;
}
.cid-tmYmlHiZ66 .number {
  color: #e6c63b;
}
.cid-tmYmlHiZ66 .period {
  display: block;
}
.cid-tmYmlHiZ66 .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-tmYmlHiZ66 .period {
    font-size: 0.8rem;
  }
}
.cid-tmYmlHiZ66 .btn {
  height: 100%;
  margin: 0;
}
.cid-tmYmlHiZ66 .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-tmYmlHiZ66 .mbr-section-title {
  color: #ffffff;
}
.cid-tmYmlHiZ66 .mbr-text {
  color: #ffffff;
}
.cid-tmYmlHiZ66 .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-tmYmlHiZ66 .icons-menu .soc-item .mbr-iconfont {
  font-size: 2rem;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #e6c63b;
  border: 2px solid #e6c63b;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-tmYmlHiZ66 .icons-menu .soc-item .mbr-iconfont:before {
  padding: 0.6rem;
}
.cid-tmYmlHiZ66 .icons-menu .soc-item .mbr-iconfont:hover {
  background-color: #e6c63b;
  color: #000000;
}
.cid-tmYmlHiZ66 H3 {
  color: #e6c63b;
}
.cid-tmYmtXtWCn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #000000;
}
.cid-tmYmtXtWCn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmtXtWCn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmtXtWCn .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-tmYmtXtWCn .plan-body {
  padding-bottom: 2rem;
}
.cid-tmYmtXtWCn .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tmYmtXtWCn .price {
  color: #e6c63b;
}
.cid-tmYmtXtWCn .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-tmYmtXtWCn .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-tmYmtXtWCn .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-tmYmtXtWCn .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-tmYmtXtWCn .plan {
    margin-bottom: 2rem;
  }
}
.cid-tmYmtXtWCn .plan-title {
  color: #4479d9;
}
.cid-tmYmtXtWCn .price-term {
  color: #4479d9;
}
.cid-tmYmtXtWCn UL {
  color: #e43f3f;
  text-align: center;
}
.cid-tmYmijgTqp {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #4479d9;
}
.cid-tmYmijgTqp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYmijgTqp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYmijgTqp .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #e6c63b;
  margin-left: 1rem;
}
.cid-tmYmijgTqp .panel-group {
  border: none;
}
.cid-tmYmijgTqp .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tmYmijgTqp .panel-body,
.cid-tmYmijgTqp .card-header {
  padding: 1rem 0;
}
.cid-tmYmijgTqp .panel-title-edit {
  color: #e6c63b;
}
.cid-tmYmijgTqp .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tmYmijgTqp H3 {
  color: #e6c63b;
}
.cid-tmYmijgTqp .panel-text {
  color: #ffffff;
}
.cid-tmYlIPewV1 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tmYlIPewV1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYlIPewV1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYlIPewV1 .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tmYlIPewV1 .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #000000;
}
@media (max-width: 991px) {
  .cid-tmYlIPewV1 .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tmYlIPewV1 .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tmYlIPewV1 .mbr-iconfont {
  font-size: 3rem;
  padding-right: 1.5rem;
  color: #e6c63b;
}
.cid-tmYlIPewV1 .card-title {
  color: #4479d9;
}
.cid-tmYlIPewV1 P {
  color: #e6c63b;
}
.cid-tmYlIPewV1 .mbr-section-title {
  color: #4479d9;
}
.cid-tmYlQPwvcA {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tmYlQPwvcA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmYlQPwvcA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmYlQPwvcA .google-map {
  height: 30rem;
  position: relative;
}
.cid-tmYlQPwvcA .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tmYlQPwvcA .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tmYlQPwvcA .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tmYlQPwvcA .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-s48OLK6784 {
  z-index: 1000;
  width: 100%;
}
.cid-s48OLK6784 nav.navbar {
  position: fixed;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #e6c63b !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #e6c63b !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #ffffff !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.4);
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s48OLK6784 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5rem);
  }
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tvo56xMXUd {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e6c63b;
}
.cid-tvo56xMXUd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tvo56xMXUd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tvo56xMXUd .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-tvo56xMXUd .bg-facebook:hover {
  background: #0b60cb;
}
.cid-tvo56xMXUd .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-tvo56xMXUd .bg-twitter:hover {
  background: #0c85d0;
}
.cid-tvo56xMXUd .bg-pinterest {
  background: #e60023;
  color: #ffffff;
}
.cid-tvo56xMXUd .bg-pinterest:hover {
  background: #b3001b;
}
.cid-tvo56xMXUd .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-tvo56xMXUd .bg-instagram:hover {
  background: #bd005c;
}
.cid-tvo56xMXUd .bg-linkedin {
  background: #0077b5;
  color: #ffffff;
}
.cid-tvo56xMXUd .bg-linkedin:hover {
  background: #005582;
}
.cid-tvo56xMXUd .bg-youtube {
  background: #ff0000;
  color: #ffffff;
}
.cid-tvo56xMXUd .bg-youtube:hover {
  background: #cc0000;
}
.cid-tvo56xMXUd .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-tvo56xMXUd .iconfont-wrapper {
  border-radius: 0 !important;
}
.cid-tvo56xMXUd [class^="socicon-"]:before,
.cid-tvo56xMXUd [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-tvo56xMXUd .mbr-section-title,
.cid-tvo56xMXUd .social-list {
  color: #4479d9;
}
.cid-tmYyygzGcS {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(0deg, #000000, #e6c63b);
}
.cid-tmYyygzGcS .news {
  width: 250px;
  background-color: #4479d9;
  height: 31px;
}
.cid-tmYyygzGcS .news-scroll a {
  text-decoration: none;
}
.cid-tmYyygzGcS .dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: #e6c63b;
  border-radius: 50%;
  display: inline-block;
}
.cid-tmYyygzGcS DIV {
  color: #ffffff;
}
.cid-tmYyygzGcS .mbr-text {
  color: #ffffff;
}
.cid-tmYyygzGcS .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tmYyn13PMJ {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-tmYyn13PMJ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tmYyn13PMJ .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tmYyn13PMJ .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tmYyn13PMJ .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tmYyn13PMJ .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tmYyn13PMJ .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tmYyn13PMJ .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tmYyn13PMJ .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tmYyn13PMJ .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tmYyn13PMJ .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tmYyn13PMJ .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tmYyn13PMJ .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tmYyn13PMJ .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tmYyn13PMJ .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-tmYyn13PMJ .media-container-row .mbr-text {
  color: #4479d9;
}
